@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    background-image: url('./media/abstract-luxury-.jpg');
    background-size: auto;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: rgb(170, 170, 170);
}

.allInput {
    display: flex;
    justify-content: space-evenly
}

.calcInput {
    width: 130px;
    height: 50px;
    border-color: black;
}

.output {
    width: 290px;
    height: 200px;
    justify-content: center;
}

.button {
    height: 35px;
    width: 100px;
}

.buttoncase1 {
    display: flex;
    justify-content: space-evenly
}

#header {
    height: 50px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
    height: 1000px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    background-image: url('./media/old-black-background-.jpg');
    background-size: auto;
    max-width: 970px;
    min-width: 750px;
    border-radius: 20px;
    box-shadow: -1px 2px 11px 9px rgba(17, 4, 29, 0.932);
}

.calc1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
    height: 350px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.calc2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
    height: 200px;
    width: 300px;
}

#rabbitsGame {
    background-image: url('./rabbitsGame2/rabbitsPic.png');
    border-color: rgb(170, 170, 170);
    color: black;
    font-weight: bold;
    overflow: hidden;
}

#snakeDiv {
    background-image: url('./snake2/gameDev/textures/SnakePic.png');
    border-color: rgb(170, 170, 170);
    color: black;
    font-weight: bold;
    overflow: hidden;
}